.wrapper>main {
  
  
  
  
}

.wrapper>main>section {
  display: flex;
}

.wrapper>main>section>aside {
  flex-grow: 1;
  
}

.wrapper>main>section>article {
  flex-grow: 1;
  flex-direction: column;
}

.wrapper>main>section>article>ul{
  margin: 30px;
  
}

.wrapper>main>section>article:nth-child(2){ 
  align-items: center;
  display: flex;
  
}
.wrapper>main>section>article:nth-child(2)>ul{
  justify-content: center;
  
}
.wrapper>main>section>article:nth-child(2)>ul>div:nth-child(2){
  
}

.wrapper>main>section>article:nth-child(3){
  align-items: center;
  display: flex;
  
}
.wrapper>main>section>article:nth-child(3)>ul{
  justify-content: center;
}
.wrapper>main>section>article:nth-child(3)>ul>div:nth-child(2){
  
}


main>.empty{
  height: 190px;
  
}



.container {}

.container>.card {}

.container>.card>.front,
.container>.card>.back {}

.container>.card>.front {}

.container>.card>.front:hover {}

.container>.card>.back {}

.container:hover .card {}